OpenLCA/ecoinvent_371_cutoff_unit_20210104.zolca
bwLCA/ecoinvent 3.8_cutoff_ecoSpold02
bwLCA/ecoinvent 3.8_cutoff_lcia_ecoSpold02
OpenLCA/Created_PS_refProcess.json
OpenLCA/21_Feb_2022_calc_results_GWP100a_test
OpenLCA/Created_PS_refProcess.json
OpenLCA/02_Mar_2022_GWP_100a
OpenLCA/22_Feb_2022_calc_results_GWP100a_test
OpenLCA/Created_PS_refProcess.json
OpenLCA/06_Mar_2022_GWP_100a
C:\GitHUb\Git4\RA-SustainableConstruction\OpenLCA\Created_PS_refProcess.json
C:\GitHUb\Git4\RA-SustainableConstruction\OpenLCA\SA_record.json
OpenLCA\SA_record.json
OpenLCA/SA_record.json
/Users/ocean/Desktop/RA-SustainableConstruction/OpenLCA/SA_record.json
OpenLCA/SA_record.json
OpenLCA/SA_record.json
